#card-option {
  width: 200px;
  height: 200px;
  border: 8px solid #c56a18;
  background-color: #f9cc26;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 15px;
  font-size: 35px;
  display: flex;
  box-shadow: 1px 1px 52px -13px rgba(0,0,0,0.6);
-webkit-box-shadow: 1px 1px 52px -13px rgba(0,0,0,0.6);
-moz-box-shadow: 1px 1px 52px -13px rgba(0,0,0,0.6);
  align-items: center; 
  justify-content: center;
  transition: scale .1s linear;
  margin-right: 40px;
}

#card-option:hover {
  border: 8px solid #f69418;
  background-color: #ffe68a;
  scale: 1.1;
  cursor: pointer;
}